# [作業目標]
- 仿造範例的 One Hot Encoding, 將指定的資料進行編碼

# [作業重點]
- 將 sub_train 進行 One Hot Encoding 編碼 (In[4], Out[4])

In [2]:
import os
import numpy as np
import pandas as pd

In [3]:
# 設定 data_path, 並讀取 app_train
dir_data = 'D:/python yun/day005 data/Part01'
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)

## 作業
將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [13]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape) #功能是查看矩阵或者数组的维数
sub_train.head(6)#顯示前五筆資料, 也可在括號內寫數字

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY
5                  WEDNESDAY

In [11]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
data_le=pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
data_le['WEEKDAY_APPR_PROCESS_START'] = labelencoder.fit_transform(data_le['WEEKDAY_APPR_PROCESS_START'])
data_le

        WEEKDAY_APPR_PROCESS_START
0                                6
1                                1
2                                1
3                                6
4                                4
5                                6
6                                3
7                                1
8                                6
9                                4
10                               2
11                               0
12                               0
13                               4
14                               1
15                               2
16                               4
17                               1
18                               0
19                               1
20                               0
21                               1
22                               4
23                               0
24                               4
25                               2
26                               1
27                               2
28                               6
29                               5
...                            ...
307481                           0
307482                           4
307483                           1
307484                           1
307485                           2
307486                           2
307487                           6
307488                           6
307489                           0
307490                           2
307491                           2
307492                           0
307493                           1
307494                           1
307495                           6
307496                           4
307497                           4
307498                           1
307499                           5
307500                           0
307501                           6
307502                           1
307503                           2
307504                           6
307505                           1
307506                           4
307507                           1
307508                           4
307509                           6
307510                           4

[307511 rows x 1 columns]